<h2> Sign Up </h2>

<form id="form" method="post" action="/process-signup">

  <% if (typeof feedbackMessage !== 'undefined') { %>
    <p class="error-message"> <%= feedbackMessage %> </p>
  <% } %>

  <label for="email-input"> Email </label>
  <input  id="email-input" name="signupEmail" type="email"
      placeholder="irma@hurricanes.weather">
  <br>

  <label for="password-input"> Password </label>
  <input  id="password-input" name="signupPassword" type="password"
      placeholder="******">
  <br>

  <button> Sign Up </button>

</form>
