<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vocab Auto Builder</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;subset=latin-ext" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/vocab.png" type="image/x-icon">

</head>
<body>


  <!-- <header>

    <div class="navbar navbar-inverse navbar-static-top" id="nav">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="row collapse navbar-collapse">
          <div class="navbar-brand col-lg-6">Auto-Vocab</div>
            <ul class="nav navbar-nav navbar col-lg-6">
              <li><a id="home-nav" href="/"> Home </a></li>
 <li class="dropdown">
  <a href="/" id="tools-nav" class="dropbtn">Subjects »
  </a>
    <div class="dropdown-content">
      <a href="/"> Vocab </a>
      <a href="/">Russain</a>
      <a href="/">Spanish</a>
      <a href="/">Coding</a>

    </div>
</li>

              <li>

                  <a id="signup-nav" href="/signup"> Sign Up </a>

              </li>
              <li>
                  <a id="login-nav" href="/login"> Log In </a>
              </li>
              <li>

                <a href="/logout"> Log Out </a>

              </li>

              <li><a id="contact-nav" href="/contact"> Contact </a></li>

              <li>
                <%  if( currentUser ) { %>
                  <p class="user-email">
                    <%= currentUser.email %>
                  </p>
                <% } %>
              </li>
            </ul>
          </div>
        </div>
    </div>
</header> -->

    <!-- 🚨🚨🚨 DON'T FORGET THIS -->
    <%- body -%>
    <!-- 🚨🚨🚨 IMPORTANT-->

    <footer class="site-footer">
    </footer>


    <!-- jQuery before Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- Bootstrap js should go before your JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- https://responsivevoice.com/voiceagent/ -->
    <!-- Readable Source: https://code.responsivevoice.org/responsivevoice.src.js -->
    <!-- Activates Text to Speech -->
    <script src='//vws.responsivevoice.com/v/e?key=WngEpffC'></script>
    <!-- Your Javascript -->
    <script src="/javascripts/api.js"></script>
    <script src="/javascripts/playgame.js"></script>

</body>
</html>
